@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to the Something Store</h1>
    <p class="lead">Buy a thing.</p>

</div>

<div class="registerbutton">
    <h1><a href="/Registration/Index?">Register</a></h1>
</div>