@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1></h1>
    <p class="lead"></p>
    <p></p>
</div>

<div>
    Welcome to the Something Store! 

    <h1><a href="/Registration/Index?">Register</a></h1>
</div>